body{
	background-color: RGBA(255, 252, 0, 0.7);
}


canvas {
	z-index: 0;
	/*border-radius: 24px;*/
	border: dashed 2px #9A9A9A;

}


#recordButton{
	float: left;
	margin-right: 10px;
	height: 79px;
	width: 79px;
	z-index: 2147483647;
	/*background-color: RGBA(255, 255, 255, 0.1);*/
	background-color: #FF5F5F;
	border-radius: 50%;
	outline: none;
	border: 7px solid #F5F5F5;
	cursor: pointer;
}

#snapFA{
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 40px;
}

#filterBar{
	position: absolute;
	left: 48%;
	z-index: 2147483647;
	max-width: 100%;
	overflow-x: scroll;
}

.filter-icon {
	float: left;
	margin-right: 10px;
	height: 60px;
	width: 60px;
	z-index: 2147483647;
	background-color: RGBA(255, 255, 255, 0.1);
	border-radius: 50%;
	outline: none;
	border: 7px solid #F5F5F5;
	cursor: pointer;
}